/* add your CSS here */
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 300px;
  padding: 1em;
  background-color: azure;
  border: 1px solid grey;
  box-shadow: 4px 4px 4px grey;

  border-radius: 10px;
}

img {
  width: 300px;
  height: 200px;
  border: 1px solid grey;
  margin-bottom: 1em;
}
.fact {
  font-style: italic;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

li span {
  font-weight: bold;
}
.information {
  border: 1px solid grey;
  padding: 0.5em;
  background-color: bisque;
  font-family: cursive;
}

.animal-name {
  font-size: 1.4em;
  font-variant-caps: small-caps;
}
.credit{
  font-weight: bold;
}
